@model CoreDemo.Models.AddProfileImage
@{
    ViewData["Title"] = "WriterAdd";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<form class="form-group" asp-controller="Writer" asp-action="WriterAdd" method="post" enctype="multipart/form-data">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">  
                <h4 class="card-title">Yazar Profil Bilgileri Düzenleme</h4>
                <br />
                @Html.HiddenFor(x=>x.WriterID, new { @class="form-control"})
                <div class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputName1">Yazar Ad Soyad</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="WriterName" >
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Mail Adresi</label>
                        <input type="email" class="form-control" id="exampleInputEmail3" name="WriterMail" >
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Şifre</label>
                        <input type="password" class="form-control" name="WriterPassword"  id="exampleInputPassword4" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>Yazar Görseli</label>
                        <input type="file" name="WriterImage" />
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">Yazar Hakkında</label>
                        <textarea class="form-control" id="exampleTextarea1" name="WriterAbout" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>
                    <button class="btn btn-light">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>

